{% if page.author %}
	{% assign author = page.author %}{% else %}{% assign author = site.owner %}
{% endif %}
{% if autor.avatar %}
<div class="author-image">
	<img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}">
</div><!-- ./author-image -->
{% endif %}
<div class="author-content">
	<h2 class="author-name" >Written by {% if author.web %}<a href="{{ author.web }}" itemprop="author">{{ author.name }}</a>{% else %}<span itemprop="author">{{ author.name }}</span>{% endif %}
	</h2>
	<p class="author-bio">{{ author.bio }}</p>
</div><!-- ./author-content -->

