<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="ko1sgQAAukXvo-9bBNIzbCfGYVN6D04HTug-j-6dp1k" />
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}

    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <style>
    .sliding-menu-content {
      top: 0;
      right: 0;
      text-align: center;
      visibility: hidden;
      height: 100%;
      width: 100%;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
    </style>

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include header.html %}
    {% include navigation-sliding.html %}

    <div id="backgroundimage" class="page-lead" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
      <div class="wrap page-lead-content">
        <h1>Vida y Negocios</h1>
        <h2>"La perfección está en los detalles..." WDNica</h2>
        <a href="http://wdnica.com" class="btn-inverse">Estamos para servirte.</a>
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->

    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      <div id="main" role="main">     
        <div class="wrap">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
            {% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
          </div>
          <div class="archive-wrap">
            <div class="page-content">
              {{ content }}
            </div><!-- /.page-content -->
          </div class="archive-wrap"><!-- /.archive-wrap -->
        </div><!-- /.wrap -->
      </div><!-- /#main -->

      {% include footer.html %}
    </div>

    <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
    <script src="{{ site.url }}/js/jstemplating.js"></script>
    <script type="text/html" id="post_tmpl">
        <article class="tile" itemscope itemtype="http://schema.org/Article">
          <a href="<%=href%>" title="<%=title%>" class="post-teaser">
            <img src="<%=src%>" alt="teaser" itemprop="image">
          </a>
          <p class="entry-date date published"><time datetime="<%=datetime%>" itemprop="datePublished"><%=datePublished%></time></p>
          <h2 class="post-title" itemprop="name"><a href="<%=href%>"><%=title%></a></h2>
          <p class="post-excerpt" itemprop="description"><%=description%></p>
        </article><!-- /.tile -->
    </script>
    <script type="text/javascript">
    var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg'];
    $('#backgroundimage').css({'background-image': 'url({{ site.url }}/images/{{ page.image.folder }}/' + images[Math.floor(Math.random() * images.length)] + ')'});
    function generateRandomPosts()
    {
        $.getJSON("{{ site.url }}/search.json", function(data) {
            var postsCount = data.length;
            var posts = data;

            var randomIndexUsed = [];
            var counter = 0;
            var numberOfPosts = 8;

            var divRandomPosts = $("#random_posts");

//            divRandomPosts.append('<h2>other posts</h2><hr />');

            while (counter < numberOfPosts)
            {
                var randomIndex = Math.floor(Math.random() * postsCount);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
//                    var postHREF = posts[randomIndex].href;
//                    var postTitle = posts[randomIndex].title;

                    if (counter == (numberOfPosts - 1))
                    {
                        divRandomPosts.append(tmpl("post_tmpl", posts[randomIndex]));
                    }

                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }
        });
    }

    $(document).ready(function() {
        generateRandomPosts();
    });




</script>
  </body>

</html>
