---
layout: default
---

<div id="main" role="main">	
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		<div class="page-feature">
			<div class="page-image">
				<img src=" " id="page-feature-image" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% if page.categories %}{% include breadcrumbs.html %}{% endif %}
		<a target="_blank" href="http://www.cashbux.info/index.php?view=register&ref=lifenbiz"><img src="http://www.cashbux.info/images/banner1.gif" border="0" width="468" height="60" /></a>
		<a href='http://www.shotbux.com/?ref=lifenbiz'><img src='http://www.shotbux.com/images/banner1.gif'></a>
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- /.wrap -->
</div><!-- /#main -->
